.navbar {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 10px 20px;
    align-items: center;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a {
    color: rgb(240, 236, 236);
    text-decoration: none;
    font-size: 16px;
}
.nav-links li a:hover{
    color:rgb(0, 26, 255)
}
.home-section {
    padding: 40px 10%;
    display:flex;
    justify-content:center
}
.home-content {
    display:flex;
    gap:40px;
    align-items:center;
}
.home-image img {
    width:350px;
    height:auto;
    border-radius:10px;
}
.home-intro h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
.home-intro p {
    font-size: 18px;
    line-height: 1.%;
    margin-bottom: 20px;
}
.home-btn {
    padding: 10px 20px;
    background-color: brown;
    color: white
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.home-btn:hover {
    background-color: rgb(25, 0, 139);
}
  