.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:grey;
    padding:10px 20px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav-links li a{
    color:white;
    text-decoration:none;
    font-size:16px;
}

.nav-links li a:hover{
    color:#00bfff;
}

.home-section{
    padding:40px 10%;
    display:flex;
    justify-content:center;
}

.home-content{
    display:flex;
    gap:40px;
    align-items: center;

}

.home-image img{
    width:30px;
    height:auto;
    border-radius: 40%;
}