.parent{
    display: flex;
    gap:40px;
}
.child2{
    display: flex;
    flex-direction: column;
}
.btm{
    color:aliceblue;
    width: 20%;
    background-color:slateblue;
    height: 50px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.btm:hover{
    color:aqua;
    background-color:crimson;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links a{
    color:white;
    font-size: 22px;
    text-decoration: none;
}
.nav-links a:hover{
    text-decoration: none;
}
body{
    padding-top: 90px;
}
section{
    scroll-margin-top:90px;
}
body{
    scroll-padding-top: 90px;
}
.topnav{
    position: fixed;
    top: 0;
    left:0;
    width: 95%;
    display: flex;
    gap: 30px;
    background-color:rgb(65, 76, 225);
    padding: 15px 40px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}
.topnav a:hover{
    color:blueviolet;
    font-weight: bold;
}
.child1{
    width:300px;
    height:265px;
    border-radius: 60%;
    border: 3px solid lavender;
}
th,td{
    border: 2px solid black;
    padding: 8px;
    margin:2opx;
}
#project{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    border-collapse: collapse;
    width: 68%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: centre;
    background-color: white;
}
#contact{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-box{
    width: 350px;
    padding:20px;
    border:2px solid white;
    border-radius: 8px;
    background-color:aliceblue;
}
.form{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.contact-box .input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.contact-box label{
    color:white;
    margin-bottom: 5px;
}
.contact-box input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
}
.contact-box button{
    padding: 10px;
    background-color: rgba(0, 55, 128, 0.068);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.contact-box button:hover{
    background-color: cornflowerblue;
}