table, th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(215, 158, 125);
}

table {
    border-collapse: collapse;
    margin: auto;
}

#lab {
    background-color: rgb(165, 42, 42);
}
