.Parent{
    display:flex;
}
.child2{
    display: flex;
    flex-direction: column;
}
.btm{
    color:white;
    border:none;
    width:20%;
    background-color:darkgray;
    height:40px;
    font-size:16px; 
    border-radius:6px;
    cursor:pointer; 

}
.btm:hover{
    color:white;
    background-color:lightblue;   
}

.Nav_bar{
    color:rgb(12, 12, 12);
    display:flex;
    justify-content:space-between;
    background-color: lightblue;
    align-items: center;
    padding:10px 10px;
    position: sticky;
    top:0;
    
}
footer{
    font-size: small;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
}
.Nav_bar a{
    color:rgb(12, 12, 12);
    font-size:18px;
    margin: 0 15px;
    text-decoration: none;
    padding:8px 12px;

}
.Nav_bar a:hover{
    color:black;
    font-weight:bold;
}
.row{
    list-style:none;
    display: flex;
    gap:10px;
}

.Nav_bar ul li a{
    text-decoration: none;
}
.child1{
    width:500px;
    height:500px;
    border-radius: 50%;
    object-fit:cover;
    border: 3px solid lightblue;
    box-shadow: 0px 4px 10px gray;
}
th,td{
    border: 2px solid black;
    padding:8px;
    margin:20px;

}
table{
    border-collapse: collapse;
    width:75%;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;

}


#lab{
     background-color: rgb(124, 164, 178);
}

th{
    background-color: lightgray;
}
#project table{
    width: 100%;

}
body{
    font-family:poppins, sans-serif;
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;
}
#submitBtn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: darkgray;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#submitBtn:hover{
    background-color: lightblue;
    color: white;
}
section{
    padding: 60px 80px;
}
#contact{
     display: flex;
    flex-direction: column;
    align-items:center;
    padding:40px 20px;
}
#contact h2{
    margin-bottom:20px;
    font-size:28px;
}

.myform{
    padding:25px;
    width:100%;
    max-width: 400px;
    border-radius: 8px ;
    box-shadow: 0px 4px 10px gray;
}
.input{
    margin-bottom: 15px;
}
.input label{
    display: block;
    margin-bottom: 5px; 
    font-size: 14px;
    font-weight: bold;
}

.input input, 
.input textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.input input:focus,
.input textarea:focus {
    border-color: lightblue;
    box-shadow: 0 0 5px lightblue;
}
