body{
    font-family: Arial;
}
h1{
    font-size: 25px;
    text-decoration: underline;
}
p{
    font-size: 15px;
}
table{
    width:1300px;
    border-collapse:collapse;
    table-layout: fixed;
}
th,td{
    border: 2px solid black;
    font-size: 12px;
    text-align: center;
    padding: 4px;
}
td{
    font-size: 12px;
}