table, th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(14, 6, 2);
}

table {
    border-collapse: collapse;
    margin: auto;
}

#lab {
    background-color: rgb(5, 114, 42);
}