 body {
    background-color: rgb(249, 246, 232);
    font-family: "Segoe UI", Arial, sans-serif;
}
span{
    background-color: #08afcc;
    padding: 5px;
    border: 2%;
}
.routine-table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
}
 
.routine-table caption {
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
}

.routine-table thead th {
    background-color: rgb(217, 217, 207);
    color: rgb(51, 51, 51);
    font-weight: 600;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 10px 6px;
}

/* Day column */
.routine-table .day {
    background-color: rgb(217, 217, 207);
    font-weight: 600;
    text-align: center;
    width: 90px;
}
/* cells */
.routine-table td,
.routine-table th {
    border-right: 1px solid rgb(227, 227, 227);
    border-bottom: 1px solid rgb(227, 227, 227);
    padding: 12px 6px;
    text-align: center;
    vertical-align: middle;
}

/* For lab */
.blue {
    background-color: rgb(232, 243, 248);
    font-size: 12px;
}

.routine-table tbody tr:hover {
    background-color: rgb(250, 250, 250);
}
