h1{
  color: blue;
  background-color: tomato;
  border-radius: 2px;
  width: 200px;
  text-align: center;
  font-style: italic;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  border: 2px solid black;
}

