*{
    margin: 0;
    padding: 0;
}
::selection{
    background-color: rgb(218, 204, 13);
}
.logo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(215,46,46);
    padding: 2rem; /*1rem vaneko root element ko jati xa teti nai (buy default root element ko 16px hunxa)*/
}
h1{
    color: white;
}
.right button{
    margin-left: 0.8rem;
    font-size: 1.4rem;
    color: white;
    background-color: rgb(215,46,46);
    border: none;
    padding-top: 0.41rem;
    cursor: pointer;
}
.search{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(134, 127, 127);
    padding: 1.5rem 0rem;
}
.searching{
    width: 400px; /*Maximum 60% xa vane, minimum kunai pani value applicable xa.*/
    /*Suppose, shrink garda garda screen kai size 400px pugyo re. aba ta 400px width rakhne ho vane ta tassinxa end ma viewport ko. so here, max-width will help us. 60% of 400=240px ko input field maintain garera rakhxa esle.*/
    max-width: 60%; /*This will ensure that the input field (provided for search) will only be 60% of it's parent container.*/
    /*look, there is an input fild basically asking the users to input the movie name. now, just in it's right side there is a button for search. when i was testing earlier upon shrinking the screen (the input field and search button both were sticking to the end of viewports). so , i tired making it responsive by setting the condition that always the maximum width of input field will be 60% of its parent. But my question is : I fixed width for input field, then how automatically the search button also got fixed? i didn't write any CSS for button telling that it will be 60% max-width  */
    /*so, basically i have put css on input then it is actually being applied on input only. And due to the fact that i provided 60% max-width constraint to it. due to this the search button naturally is getting enough space to fit just right (LOOKING responsive). it is because it's neighbour(input field) is fixed*/
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.search>button{
        margin-left: 0.5rem;
        font-size: 1.4rem;
        background-color: rgb(215,46,46);
        color: white;
        padding: 0.4rem;
        border-radius: 10px;
}
.hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url(./mover.jpg);
padding: 2rem 0rem;
}
.hero>h2{
    color: white;
    font-size: 2rem;
    background-color: black;
}
.hero>button{
    background-color: rgb(215,46,46);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    margin-top: 0.7rem; 
    cursor: pointer;
    padding: 0.5rem;
}
.mover{
    text-align: center;
    padding: 1rem;
}
.mover>h2{
    font-size: 3rem;
    font-weight: bold;
}
.images{
    height: 400px;
}
.card{
    border:0.5rem solid rgb(208,199,199);
    background-color: rgb(208,199,199);
    margin-left: 1rem;
    border-radius: 10px;
    text-align: center;
}
.card:hover{
    border:0.5rem solid rgb(24, 199, 33);
    background-color: rgb(14, 231, 68);
    transition-duration: 0.9s;
}
h3{
    font-size: 1.4rem; 
}
/* Movie Table Section */
.movie-table {
    padding: 2rem;
}

.movie-table h2 {
    text-align: center;
    margin-bottom: 1rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

thead {
    background-color: #222;
    color: white;
}

th, td {
    padding: 0.8rem;
    text-align: center;
    border: 1px solid #ddd;
}


tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.movie{
    display: flex;
    overflow-x: scroll;
}
.bot{
    margin-top: 2rem;
    text-align: center;
}
.bot>img{
    max-width: 80%;
    border-radius: 10px;
}

@media (max-width:650px){
    .logo{
        flex-direction: column;
        align-items: center;
    }
    .right{
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    .movie{
        flex-direction: column;
        gap: 0.5rem;
    }
}