.nav{
    display:flex;
    padding: 10px 20px;
    align-items: center;
    justify-content:space-between;
    font-weight: bolder;
    font-family: system-ui, -apple-system,
     BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    border-radius: 10px;
    list-style: none;
    gap: 15px;
    background-color: grey;
    color: white;
    font-size:larger;
}
.nav-link li a{
    text-decoration: none;
    color: white;
}

.head{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: darkblue;
}

.p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

.button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
