*{
    margin: 0px;
    padding: 11px;

}
.container{
background-color: rgb(255, 255, 255);

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 0px solid black;
    background-color: antiquewhite;
    width: 100%;
    border-radius: 20px;
    
    

}
img{
    width: 30px;
    height: 30px;
    border-radius: 20px;

}

.header{
margin-top: 40px;
    display: flex;
    
   
}

.header-img{
    width: 100px;
    height: auto;
}

.cards{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.box{
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;

}
.table{
border: 2px solid black; 
display: flex;
flex-direction: column;

}