body {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: #adf7ea;
margin: 10;
padding: 20px;
}


.header {
background: #44a0e7;
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
display:grid;
gap: 15px;
}


.box {
background: #ffffff;
padding: 15px;
border-radius: 6px;
}


.box span {
font-size: 12px;
color: #535353;
display: block;
}


.routine {
width: 100%;
height: 60%;
border-collapse: collapse;
background: #efefef;
}


.routine th,
.routine td {
border: 1px solid #ddd;
padding: 14px;
text-align: center;
font-size: 14px;
}


.routine th {
background: #9c9b9b;
font-weight: 600;
}


.day {
background: #9c9b9b;
}

.lab {
background: #78bbbc;

}