* {
  margin-top: 10px;
  background-color: antiquewhite;
}

.table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse; /* merges borders */
  text-align: center;
  font-size: 20px;
  background-color: white;
}

.table th,
td,
tr {
  border: 2px solid black;
  padding: 10px;
  background-color: white;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700px;
}
